header {
  display: flex;
  align-items: center;
  padding: 1em;
  position: sticky;
  top: 0;
  background: white;
  box-shadow: 0 0 16px rgba(black, 0.08);
}

nav {
  margin-left: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
